google-chrome
firefox
spotify
pycharm-ce
iterm2
slack
Google-backup-and-sync
sequel-pro
docker
postman
webstorm
whatsapp
visual-studio-code
goland
zoomus
font-fira-code
cakebrew
ngrok
discord
pgadmin4
github
sourcetree